body {
	display: flex;
    flex-direction: column;
	padding: 0;
	margin: 0;

}

/* header */

.body-header {
	background-color: #0f7a9e;
	display: flex;
	justify-content: center;
}

nav {
	height: 50px;
	display: flex;
	justify-content: space-between;
	width: 60%;
}

nav ul {
	/* background-color: #fff; */
	list-style-type: none;
	display: flex;
	gap: 16px;
	align-items: center;
}

nav ul li a {
text-decoration: none;
color: antiquewhite;
}


/* section1 */

#section-one {
	display: flex;
	/* flex: 0 1 auto; */
	height: calc(50vh - 65px);
	justify-content: center;
	gap: 1em;
	background-color: #004879;
	padding: 20px;
}

.section-one-container {
	display: flex;
	gap: 16px;
} 

.image-section-1 {
	/* flex: 0 1 auto; */
	/* height: 30%; */
}

#section-one img {
	flex: 1;
	object-fit: contain;
}


.section-one-txt-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* display: flex;
	flex-direction: column; */
}

.section-one-txt-container h1 {
font-size: 48px;
font-weight: bold;
color: #f9faf8;
margin-bottom: 10px;
}

.section-one-txt-container p {
	font-size: 18px;
	color: #e5e7eb;
	}

.section-one-txt-container button {
width: 100px;
background-color: #f34937;
border: none;
border-radius: 20px;
padding: 8px 16px;
color: #e5e7eb
}

/* section2 */

#section-two {
	display: flex;
	flex-direction: column;
	/* flex: 0 1 auto; */
	/* flex: auto; */
	/* height: 500px; */
	height: calc(50vh - 65px);
	background-color: #0f7a9e;
	padding: 20px;
}

#section-two h2 {
	text-align: center;
	font-size: 36px;
	color: #f9faf8;
	font-weight: bold;
}

.cards {
	display: flex;
	/* justify-content: space-around; */
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	/* height: 50px; */
	/* max-height: 200px; */
	max-width: 200px;
	height: 350px;
	padding: 8px;
	justify-content: space-between;
/* align-items: center; */
border: 2px solid #004879;
border-radius: 20px;

}

.card p {
	color: #f9faf8;
	text-align: center;
}

.card-img-container {
	display: flex;
	/* width: 50px; */
	height: 500px;
	/* align-items: center; */
}

.card-img-container img {
	/* max-height: 100%; */
	min-width: 100%;
	object-fit: contain;
	
	/* vertical-align: center; */
}

/* SECTION 3 */

#section-three {
	display: flex;
	flex-direction: column;
	/* flex: 0 1 auto; */
	height: calc(50vh - 25px);
	background-color: #e5e7eb ;
	align-items: center;
	justify-content: center;
}

.quote {
	width: 60%;
}

.quote-text {
	font-size: 36px;
	font-style: italic;
	font-weight: 200;
	color: #004879;
}

.quote-author {
	font-weight: 900;
	/* justify-self: end; */
	/* align-self: end; */
	color: #004879;
	text-align: right;
	padding-right: 30px;
}

/* section4 */


#section-four {
	display: flex;
	/* flex-direction: column; */
	/* flex: 0 1 auto; */
	height: calc(50vh - 25px);
	background-color: #fff ;
	align-items: center;
	justify-content: center;
}

.cta {
	display: flex;
	justify-content: space-around;
	background-color: #0f7a9e;
	width: 40%;
	padding: 50px 100px;
	border-radius: 60px;
}

.cta-txt-container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}


.cta-txt {
	font-weight: 900;
	font-size: 28px;
	color: #f9faf8;
	margin: 0;
}

.cta-desc {
	margin: 0;
	color: #e5e7eb;
}

.cta button {
	width: 100px;
	background-color: #f34937;
	border: none;
	border-radius: 20px;
	padding: 8px 16px;
	color: #e5e7eb
	}


/* footer */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #004879;
}

footer p {
	color: #fff;
}

